<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Health Assist</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>
  <body>
    <header>
      <h1>Daily Info</h1>
    </header>
    <form class="user-data" action="index.html" method="post">

        <!-- <div id='hr'></div> -->
        <p>
          <label class='user-input-label' for='date'>Date</label>
          <input class='user-input' type='date' name='date'>
        </p>
        <p>
          <label class='user-input-label' for='time'>Time</label>
          <input class='user-input' type='time' name='time'>
        </p>
        <p>
          <label class='user-input-label' for='weight'>Weight</label>
          <input class='user-input' type='number' name='weight'>
        </p>
        <p>
          <label class='user-input-label' for='fat'>Fat %</label>
          <input class='user-input' type='number' name='fat'>
        </p>
        <p>
          <label class='user-input-label' for='food'>Food</label>
          <input class='user-input' type='text' name='food' placeholder="What did you eat today?">
        </p>
        <p>
          <label class='user-input-label' for='exercise'>Excercise</label>
          <input class='user-input' type='text' name='exercise' placeholder="What exercises did you do today?">
        </p>
        <input id='submit-button' type="submit" name="submit">
    </form>
  </body>
</html>
